@inject IUserService UserService
@inject NavigationManager NavigationManager

<h3>Food Logs Selector</h3>

<select id="users" class="form-control" @bind="@SelectedUserId">
	@foreach (var user in UserService.Users)
	{
		<option value="@user.Id">@user.FirstName, @user.LastName</option>
	}
</select>
<br />
<button class="btn btn-primary"
		@onclick="() => ShowFoodLogs()">
	Show Logs for User
</button>

@code {

	int SelectedUserId { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await UserService.GetUsers();
	}

	private void ShowFoodLogs()
	{
		NavigationManager.NavigateTo($"/foodlogs/{SelectedUserId}");
	}
}

