@page "/foodlog"
@page "/foodlog/{id:int}"
@inject IFoodLogService FoodLogService
@inject IDishService DishService
@inject NavigationManager NavigationManager

@if(Id.HasValue)
{
	<PageTitle>Edit </PageTitle>
	<h3>Edit Food Log </h3>
}
else
{
	<PageTitle>Create a new Food Log</PageTitle>
	<h3>Create a new Food Log</h3>
}
<EditForm Model="FoodLogData" OnSubmit="HandleSubmit">
	<div>
		<label for="date">Date</label>
		<InputDate id="date" @bind-Value="FoodLogData.Date" class="form-control" />
	</div>
	<div>
		<label for="desc">Description</label>
		<InputText id="desc" @bind-Value="FoodLogData.Description" class="form-control" />
	</div>
	<div>
		<label for="quantity">Quantity</label>
		<InputNumber id="quantity" @bind-Value="FoodLogData.Quantity" class="form-control" />
	</div>
	<div>
		<label for="dish">Dish</label>
		<select id="dish" class="form-control" @bind="FoodLogData.DishId">
			@foreach (var dish in DishService.Dishes)
			{
				<option value="@dish.Id">@dish.Name</option>
			}
		</select>
	</div>
	<br />
	<button type="submit" class="btn btn-primary">@_confirmText</button>
	<button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>

</EditForm>


@code {
	[Parameter]
	public int? Id { get; set; }

	public AJSNutritions.Shared.Domain.FoodLog FoodLogData { get; set; } = new AJSNutritions.Shared.Domain.FoodLog { Date = DateTime.Now };
	
	string _confirmText = "Create New Food Log";

	protected override async Task OnInitializedAsync()
	{
		// On page load available dishes for the select to use.
		await DishService.GetDishes();
	}

	protected override async Task OnParametersSetAsync()
	{
		// The food log will be edited if the food id is provided in the URL.
		if (Id.HasValue)
		{
			var result = await FoodLogService.GetFoodLogById(Id.Value);
			// If the food log is not found, navigate back to the food log list.
			if (result == null)
			{
				NavigationManager.NavigateTo("/foodlogs");
			}
			else 			
			{
				FoodLogData = result;
				_confirmText = "Save";
			}
		}
	}

	async Task HandleSubmit()
	{
		if (Id.HasValue)
		{	// Update the food log
			await FoodLogService.UpdateFoodLog(Id.Value, FoodLogData);
		}
		else
		{  // Create the food log
			await FoodLogService.CreateFoodLog(FoodLogData);
		}
		// After creating a new food or editing an existing log, navigate to the food log list page
		NavigationManager.NavigateTo($"/foodlogs/{FoodLogData.UserId}");
	}

	void Cancel()
	{	// Navigate back to the food log list
		NavigationManager.NavigateTo($"/foodlogs/{FoodLogData.UserId}");
	}
}
