@page "/"
@using AJSNutritions.Shared

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to AJS Nutritions.

<AuthorizeView Roles=@($"{Constants.Roles.User}")>
	<Authorized>
		<FoodLogs />
	</Authorized>
</AuthorizeView>

<AuthorizeView Roles=@($"{Constants.Roles.Admin}, {Constants.Roles.Staff}")>
<Authorized>
	<h3>This is admin content</h3>
</Authorized>
</AuthorizeView>